/* iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	img { max-width: 100%; }
}

/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	img { max-width: 100%; }
}

html{
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility
	}
html,body{
	height:100%
	}
body{
	font:14px/1.25 "Neutral Medium 6";
	line-height:1.5em;
	font-family: 'Montserrat', sans-serif;
	margin:25px;
	width:600px;
	background:#00dbde;
	background-image:linear-gradient(45deg, #fc00ff, #00dbde);
	background-attachment:fixed;
	color:white
	}

article{
	display:table;
	height:100%;
	width:100%}#info{
	display:table-cell;
	vertical-align:middle;
	}
h1,h2,h3,h4
	{
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	margin:0
	}
h1{
	font-size:36px;
	margin:0
	}
h2{
	font-size:24px
	}
a{
	text-decoration:none;
	color:white;
	border-bottom:1px solid #fff;
	transition:border-bottom-width 0.25s
	}
a:hover{
	border-bottom-width:3px}
p{
	margin:20px 0 0
}
ul{margin:0px 20px 0;padding:0;}

@media screen and (max-height: 560px)
{body
	{margin-top:20px;
	margin-bottom:20px;
	height:auto}
article,#info{
	display:block;
	height:auto;
	}
@media screen and (max-width: 640px)
{body
	{width:auto;
		height:auto;
		margin:20px}
	article,#info{
		display:block;
		height:auto;
		width:auto;
		}