/* iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	img { max-width: 100%; }
}

/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	img { max-width: 100%; }
}

html{
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility
	}
html,body{
	height:100%
	}
body{
	font:14px/1.25 "Neutral Medium 6";
	line-height:1.5em;
	font-family: 'Montserrat', sans-serif;
	margin:25px;
	padding: 25px;
	width:600px;
	background:#00dbde;
	background-image:linear-gradient(45deg, #fc00ff, #00dbde);
	background-attachment:fixed;
	color:white
	}

article{
	display:table;
	height:100%;
	width:100%}#info{
	display:table-cell;
	vertical-align:middle;
	padding-bottom: 50px;
	}
h1,h2,h3,h4
	{
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	margin:0
	}
h1{
	font-size:36px;
	margin:0
	}
h2{
	font-size:24px
	}
a{
	text-decoration:none;
	color:white;
	border-bottom:1px solid #fff;
	transition:border-bottom-width 0.25s
	}
a:hover{
	border-bottom-width:3px}

.portfolio:hover {
    position: relative;
}
.portfolio:hover:after {
    content: url(images/portfolio_preview.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}


.google:hover {
    position: relative;
}
.google:hover:after {
    content: url(images/recall_preview.gif);
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}

.backpack:hover {
    position: relative;
}
.backpack:hover:after {
    content: url(images/backpack_preview.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}

.wellbeing:hover {
    position: relative;
}
.wellbeing:hover:after {
    content: url(images/wellbeing_wearable_preview.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}

.volvo:hover {
    position: relative;
}
.volvo:hover:after {
    content: url(images/future_of_driving_preview.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}

.pyjamas:hover {
    position: relative;
}
.pyjamas:hover:after {
    content: url(images/cats_pyjamas_preview.png); 
    display: block;
    position: absolute;
    left: 50px; 
    top: 20px;
}


.globalparty:hover {
    position: relative;
}
.globalparty:hover:after {
    content: url(images/happy_party_preview.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}


.lewis:hover {
    position: relative;
}
.lewis:hover:after {
    content: url(images/teamlh_preview.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}


.giveone:hover {
    position: relative;
}
.giveone:hover:after {
    content: url(images/give_one_preview.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}

.dogwatisaw:hover {
    position: relative;
}
.dogwatisaw:hover:after {
    content: url(images/dog_wat_i_saw.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}

.cats:hover {
    position: relative;
}
.cats:hover:after {
    content: url(images/cat_preview.gif);
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}
.dogspotting:hover {
    position: relative;
}
.dogspotting:hover:after {
    content: url(images/dog_spotting_extension_preview.gif); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px;
}

.freehype:hover {
    position: relative;
}
.freehype:hover:after {
    content: url(images/free_hype_preview.png); 
    display: block;
    position: absolute;
    left: 50px;  
    top: 20px; 
}

.giggy:hover {
    position: relative;
}
.giggy:hover:after {
    content: url(images/giggypop_preview.gif); 
    display: block;
    position: absolute;
    left: 50px; 
    top: 20px; 
}


/**************************************************************************/


p{
	margin:20px 0 0
}
ul{margin:0px 20px 0;padding:0;}

@media screen and (max-height: 560px)
{body
	{margin-top:20px;
	margin-bottom:20px;
	height:auto}
article,#info{
	display:block;
	height:auto;
	}
@media screen and (max-width: 640px)
{body
	{width:auto;
		height:auto;
		margin:20px}
	article,#info{
		display:block;
		height:auto;
		width:auto;
		}
}
/*******************************************************/	


